.friends {
    margin: 0;
}

#friends-display-link {
    text-align: center;
    display: block;
    background-color:#fafafa;
    padding: 15px 0;
    margin-bottom: 10px;
}

#friends-display-link i {
    color: rgba(18, 18, 18, 0.8);
    margin-right: 5px;
}

#friends-display-link i:nth-child(2) {
    margin-left: 10px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}