/* Big user component */
/* 
니코 ver.

.user-component, 
.user-component__column:first-child {
    display:flex;
    align-items:center;
}

*/

.user-component {
    display: flex;
}

.user-component__column {
    display: flex;
}

.user-component__avatar {
    width: 65px;
    height: 65px;
    border-radius: 40%;
    object-fit: cover;
}

.user-component__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 10px;
}

.user-component__title {
    font-size: 20px;
    font-weight: 600;
}

.user-component__subtitle {
    font-size: 12px;
    color: rgb(152, 152, 152);
    margin-top: 10px;
    margin-bottom: 30px;
}


/* channel box 
border-bottom: 1px solid rgb(230, 230, 230);
*/
/* Small user component */

.friends-screen__channel-header {
    border-top: 1px solid rgb(230, 230, 230) ;
    padding: 10px 0;
}

.friends-screen__channel-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2e363e63;
    font-weight: 600;
    font-size: 12px;
}

.user-component__channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__column__channel {
    display: flex;
    margin-top: 10px;
}

.user-component__column__channel:nth-child(2) {
    color: #2e363e63;
}

.user-component__column__channel:nth-child(2) i {
   margin-left: 5px; 
}

.friends-screen__channel-header {
    margin: 0 20px;
}

.user-component__avatar__channel {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    object-fit: cover;
}

.user-component__text__channel {
    display: flex;
    align-items: center;
    margin-left: 15px;
}



/* Medium user component */

.user-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(207, 207, 207);
}


.user-component__column img {
    width: 60px;
    height: 60px;
}

.user-component__column:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #2e363e63;
    margin-bottom: 10px;
}

.user-component__column__noti {
    background-color: rgb(64, 72, 220);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px;
    font-size: 10px;
}

.user-component__column:nth-child(2) i {
    color: #2e363e;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.middle-icon-menu__line:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    margin-left: 28px;
}
