/*
css 는 cascading style sheet 이기 때문에
가장 마지막(맨 밑)에 작성된 내용을 받아들인다
여러 개 겹치는 내용 중에 맨~마지막에 적은 게
color yellow라면 노란색으로 적용됨.

---> 
가장 마지막(맨 밑)에 작성된 내용을 받아들인다. 따라서,
***코드의 순서가 결과에 영향을 미친다!! 이게 중요!

우선은 inline 으로 css 적는 것부터 할 거기 때문에
일단 여기는 나중에 쓸거.


body {
    background-color:rgb(34, 34, 36);
}



7/8 코챌 니꼬쌤 솔루션
css 파일



body {
    background:tomato;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .father{
    width:200px;
    height:200px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    background:wheat;
    border:2px solid black;
  }
  
  .inside {
    background:teal;
    height:50px;
    width:50px;
    border:3px solid white;
  }
  
  .inside-second {
    width: 100%;
    border-style:dashed;
  }

  */


body {
    background-color:snow;
    font-family:'Times New Roman', Times, serif;
}
.box_first {
    background: tomato;
    height: 200px;
    width: 100px;
    border: 4px solid white;
}
.box_first_inside {
    background-color: white;
}

.box_second {
    background: teal;
    height: 200px;
    width: 100px;
    border: 4px solid white;
}
.box_second_inside {
    background-color: white;
}

.box_third {
    background: burlywood;
    height: 200px;
    width: 100px;
    border: 4px solid white;
}
.box_third_inside {
    background-color: white;
}

.box_fourth {
    background: thistle;
    height: 200px;
    width: 100px;
    border: 4px solid white;
}
.box_fourth_inside {
    background-color: white;
}


